* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: 'PermanentMaker';
    src: url(fuentes/PermanentMarker-Regular.ttf);
}


body{
    background-image: url(img/alienRipleyDerecha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

    
.header {
    width: 100%;
    height: 60px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(2px);
}

.header a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.itemsIzquierda a {
    margin-left: 50px;
}

.itemsDerecha a {
    margin-right: 50px;
}

.header a:hover{
    background-color: rgb(122, 0, 0);
    padding: 5px 10px;
    border-radius: 14px;
}

.suscribeteHeader {
    background-color: rgb(122, 0, 0);
    padding: 5px 10px;
    border-radius: 14px;
    
}

/* Contenido extra y llamado a la accion */

.contenido {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    /* margin-top: 20px; */
}

.contenido h1 {
    color: white;
    font-size: 48px;
}

.contenido p {
    color: white;
    width: 530px;
    margin: 7px 0px 70px 0px;
}

.suscribiteAhora {
    width: fit-content;
    color: white;
    background-color: rgb(122, 0, 0);
    padding: 10px 100px;
    border-radius: 14px;
    text-decoration: none;
}

.yaTengo {
    margin-top: 20px;
    width: fit-content;
    color: white;
    background-color: rgb(122, 0, 0);
    padding: 10px 70px;
    border-radius: 14px;
    text-decoration: none;
}

.suscribiteAhora:hover {
    background-color: rgb(122, 0, 0);
    padding: 15px 110px;
    border-radius: 14px;
}

.yaTengo:hover {
    background-color: rgb(122, 0, 0);
    padding: 15px 80px;
    border-radius: 14px;   
}

/* Planes */

.planesContenedor {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 45px;
}

.planes {
    background:rgba(0, 0, 0,0.4); 
    color: white;
    padding: 40px;
    border-radius: 14px;
    border: solid rgb(122, 0, 0);
    width: 400px;
}

.planes ul li {
    margin-bottom: 10px;
    text-align: start;
}

.planes h2 {
    margin: 0px 0px 20px 0px;
    background-color: rgb(122, 0, 0);
    padding: 5px 10px;
    border-radius: 14px;
    width: fit-content;
    text-align: start
}

.planes h2:hover {
    background-color: white;
    color: rgb(122, 0, 0);
    padding: 10px 15px;
    border-radius: 14px;
}

#planesTitulo {
    color: white;
    background-color: rgb(122, 0, 0);
    width: fit-content;
    padding: 3px 25px;
    border-radius: 14px;
    margin: 200px 0px 40px 45px;
}


/* Carrusel */
/* Peliculas imagenes */
h2 {
    color: white;
    background-color: rgb(122, 0, 0);
    width: fit-content;
    padding: 3px 25px;
    border-radius: 14px;
    margin: 30px 0px 25px 135px;
}

/* contenedorPoster */
.contenedorPoster .poster {
    width: 350px;
    height: auto;
    position: relative;
    /* overflow: hidden; */
}

.poster img {
    width: 350px;
    height: auto;
    border-radius: 14px;
    z-index: 1;
}

.descripcion {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    opacity: 0;
    background-color: rgb(122, 0, 0);
    border-radius: 14px;
    transition-duration: 400ms;
    transition-property: opacity;
    transition-timing-function: ease;
}

.descripcion h3 {
    font-size: 28px;
    margin: 15px 0px 25px 0px;
}

.descripcion p {
    font-size: 14px;
}

.contenedorPoster .poster:hover {
    /* transform: scale(1.10); */
    border-radius: 14px;
}
.poster .descripcion:hover {
    opacity: 1;
}

.contenedorPoster {
    display: flex;
    width: calc(3 * 350px + 2 * 20px);
    height: auto;
    gap: 20px;
    overflow: hidden; 
}

.contenedorDelContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.contenedorDelContenedor .flechas {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flechaUno {
    color: white;
    margin-left: 40px;
    width: 50px;
    height: 50px;
}

.flechaDos {
    color: white;
    margin-right: 40px;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
}

.flechaUno:hover {
    color: rgb(122, 0, 0);
    transform: scale(1.4);
}

.flechaDos:hover { 
    color: rgb(122, 0, 0);
    transform: rotate(180deg) scale(1.4);
}
.logo h1 {
    font-family: 'PermanentMaker';
    color: white;
    font-size: 50px;
    margin-bottom: 20px;       
}