    @font-face {
    font-family: 'PermanentMaker';
    src: url(../fuentes/PermanentMarker-Regular.ttf);
    }
* {
  margin: 0;
  padding: 0;

}

body {
    background-image:url('../img/alienRipleyDerecha.jpg') ;
    font-family: Arial, sans-serif;
    background-size: cover;
}

/* Header menu */
.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.itemsIzquierda a {
    margin-left: 50px;
}

.itemsDerecha a {
    margin-right: 50px;
}

.suscribeteHeader {
    background-color: rgb(122, 0, 0);
    padding: 5px 10px;
    border-radius: 14px;
}

.header a:hover {
    background-color: rgb(122, 0, 0);
    padding: 5px 10px;
    border-radius: 14px;
}

/*Form*/

.principal{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login-box {
    background:rgba(0, 0, 0,0.4); 
    color: white;
    margin-right: 50px;
    padding: 40px;
    border-radius: 14px;
    border: solid rgb(122, 0, 0);
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding-bottom: 20px;
    margin: 30px 0;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    outline: none;
}

.login-box button {
    background: rgb(122, 0, 0); 
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 14px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.login-box button:hover {
    background-color: white;
    color: rgb(122, 0, 0);
    padding: 15px 25px;
    border-radius: 14px;
}

.logo {
    width: 600px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.logo h1 {
    font-family: 'PermanentMaker';
    color: white;
    font-size: 90px;
}

.logo p {
    color: white;
}

.mensajeError {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: red;
}

