
@font-face {
    font-family: 'PermanentMaker';
    src: url(../fuentes/PermanentMarker-Regular.ttf);
}
@media (max-whith: 800px) {
  body{
    flex: 100%;
    max-width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
    body {
      background-image: url('../img/alienRipleyDerecha.jpg');
      background-repeat: no-repeat;
      background-size:cover;
    }

/* Header menu */
.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.itemsIzquierda a {
    margin-left: 50px;
}

.itemsDerecha a {
    margin-right: 50px;
}

.suscribeteHeader {
    background-color: rgb(122, 0, 0);
    padding: 5px 10px;
    border-radius: 14px;
}

.header a:hover {
    background-color: rgb(122, 0, 0);
    padding: 5px 10px;
    border-radius: 14px;
}

/* form */

.principal {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
form {
    width: 300px;
    margin-right: 50px;
    background:rgba(0, 0, 0,0.4); 
    padding: 40px;
    border: 2px solid rgb(122, 0, 0);
    border-radius: 14px;
    text-align: center;
}
   
form h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

input {
    width: 100%;
    margin: 20px 0;
    padding-bottom: 5px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    outline: none;
}
    
form button {
    width: 100px;
    padding: 8px;
    background:rgb(122, 0, 0);
    color: white;
    border-radius: 14px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: white;
    color: rgb(122, 0, 0);
    padding: 15px 25px;
    border-radius: 14px;
}

.logo {
    width: 600px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo h1{
    color: white;
    font-size: 48px;
}
p{
    color: white;
}


.cssJs {
    display: flex;
    justify-content: start;
    color: red;
}
.marca h1 {
    font-family: 'PermanentMaker';
    color: white;
    font-size: 70px;
    margin-bottom: 70px;       
}